//==公共样式
//
//------------------------------

.clearfix{
	.clearfix();
}

.pull-left{
	float: left !important;
}

.pull-right{
	float: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

//width
.make-width();

//padding, margin
.make-box(padding);
.make-box(padding-top);
.make-box(padding-right);
.make-box(padding-bottom);
.make-box(padding-left);
.make-box(margin);
.make-box(margin-top);
.make-box(margin-right);
.make-box(margin-bottom);
.make-box(margin-left);

.container{
	margin-left: auto;
	margin-right: auto;
	width: @container;
	&:extend(.clearfix all);
}

.container-fluid{
	width: 100%;
	&:extend(.clearfix all);
}

.custom-scroll-drag{
	position: absolute;
	top: 0;
	right: 2px;
	width: 8px;
	height: 80px;
	background-color: #555;
	.border-radius(8px);
	.opacity(0.3);
	.transition(opacity);
	z-index: @z-index-drag;
}

.custom-scroll-drag:hover{
	.opacity(0.5);
}