//==modal
//
//-------------------------------
.w-alert {
    position: relative;
    padding: @alert-padding;
    .border-radius(6px);
    color: @color-content;
    font-size: @font-size-base;
    line-height: @alert-lineheight;

    .w-alert-icon {
        font-size: @font-size-middle;
        top: 8px;
        left: 16px;
        position: absolute;
    }

    &.w-alert-icon-wrap {
        padding: @alert-icon-wrap-padding;
    }

    &.w-alert-desc-wrap {
        padding: @alert-desc-wrap-padding;
        line-height: @alert-desc-wrap-lineght;

        .w-alert-message {
            display: block;
            font-size: @font-size-middle;
            color: @color-title;
        }

        .w-alert-desc {
            display: block;
            font-size: @font-size-small;
            color: @color-content;
            line-height: @alert-desc-lineheight;
            text-align: justify;
        }

        &.w-alert-icon-wrap {
            padding: @alert-desc-icon-wrap-padding;
        }

        .w-alert-icon {
            top: 50%;
            left: 24px;
            margin-top: -21px;
            font-size: 28px;
        }
    }

    .w-alert-close {
        font-size: @font-size-base;
        position: absolute;
        right: 16px;
        top: 8px;
        overflow: hidden;
        cursor: pointer;

        &:hover .w-alert-close-icon {
            color: @color-gray-dark;
        }

        .w-alert-close-icon {
            color: @color-gray-light;
            .transition(color);
            position: relative;
            top: -3px;
        }
    }
}

.alert-type(info, @color-primary);
.alert-type(success, @color-success);
.alert-type(warning, @color-warning);
.alert-type(danger, @color-danger);

.w-message {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    min-width: 300px;
    padding: 10px 12px;
    border: 1px solid lighten(@color-border, 5%);
    box-sizing: border-box;
    .border-radius(2px);
    position: fixed;
    left: 50%;
    top: 20px;
    margin-left: -150px;
    background-color: @color-white;
    .transition(opacity);
    overflow: hidden;

    .w-message-icon {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        line-height: 40px;
        color: @color-white;
        i {
            font-size: @font-size-large;
        }
    }

    .w-message-group {
        margin-left: 38px;
        position: relative;
        height: 20px;
        line-height: 20px;
    }
}

.message-type(info, @color-primary);
.message-type(success, @color-success);
.message-type(warning, @color-warning);
.message-type(danger, @color-danger);

.w-mask-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: @color-white;
    .opacity(0.8);
    z-index: @z-index-mask;
}

.w-loading {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -10px;
    text-align: center;
    z-index: @z-index-loading;
    .w-loading-txt {
        display: block;
        padding-top: 10px;
    }
}